.ev-registration {
    .moving-tab, .md-button.md-success, .md-button.md-success:hover, .md-button.md-success:focus, .md-button.md-success:active, .md-button.md-success.active, .md-button.md-success:active:focus, .md-button.md-success:active:hover, .md-button.md-success.active:focus, .md-button.md-success.active:hover, .open > .md-button.md-success.dropdown-toggle, .open > .md-button.md-success.dropdown-toggle:focus, .open > .md-button.md-success.dropdown-toggle:hover{
        background-color: #4caf50 !important;
    }
    .md-button-content{
        color: #ffffff !important;
    }
    .md-card-tabs .active.md-list-item.md-warning .md-list-item-button, .md-card-tabs .active.md-list-item.md-warning .md-list-item-button:hover, .md-card-tabs .active.md-list-item.md-warning .md-list-item-button:focus{
        background-color: #f59b00 !important;
    }
}

#progress-bar-line {
    margin: 0 auto;       
}

.md-card-wizard .picture {
    border-radius: unset !important;
    width: auto !important;
    height: auto !important;
}
.vuejs-progress-bar[data-v-1c5cf8e4] {
    width: auto !important;
}
li, p {
    color: #000;
}
.md-card-header .md-avatar, .md-card-header>img {
    margin-right: 0px !important;
}
@media only screen and (max-width : 812px) {
    /* Styles */
    .mobile-margin-top-21 {
        margin-top: 21px;
    }
    .mobile-mergin-left-7 {
        margin-left: 7%;
    }
}