<template>
  <ValidationObserver ref="form">
    <form @submit.prevent="validate">
      <div>
        <div class="md-layout-item md-size-100 md-small-size-100 second-step">
          <p style="text-align:center;margin-top:40px">
            {{ this.field_name.heading }}
          </p>
          <div
            class="md-layout-item md-size-100 md-small-size-100"
            style="margin-top: 30px"
          >
            <div class="picture-container">
              <div class="picture">
                <div v-if="!image">
                  <img :src="avatar" class="picture-src" title="" />
                </div>
                <div v-else>
                  <img :src="image" />
                </div>
                <input type="file" @change="onFileChange" />
              </div>
              <h6 class="description">Jetzt hochladen</h6>
            </div>
          </div>
          <div
            v-if="uploading"
            class="md-layout-item md-size-100 md-small-size-100"
          >
            <div class="container" style="width: 100%;">
              <p style="margin: 0 auto;">
                Bitte warten, das kann bis zu 20 Sekunden dauern.
              </p>
            </div>
            <vue-ellipse-progress
              style="width: 100%;
            height: 100px;
            margin: 0 auto;"
              :data="circles"
              :progress="progress"
              :angle="-90"
              color="blue"
              :colorFill="colorFillGradient"
              emptyColor="#8ec5fc"
              :emptyColorFill="emptyColorFillGradient"
              :size="60"
              :thickness="10"
              emptyThickness="10%"
              lineMode="in 10"
              :legend="true"
              :legendValue="180"
              legendClass="legend-custom-style"
              dash="60 0.9"
              animation="reverse 700 400"
              :noData="false"
              :loading="true"
              fontColor="white"
              :half="false"
              :gap="10"
              dot="10 "
              fontSize="5rem">
              <span slot="legend-value">/200</span>
              <p slot="legend-caption"></p>
            </vue-ellipse-progress>
          </div>
          <div class="spinner-border text-success" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="success" style="display:none;text-align:center">
            <div class="alert alert-success">
              {{ this.field_name.success }}
            </div>
          </div>
          <div class="md-layout" style="margin-left: 8%;">
            <label
              class="md-layout-item md-size-15 md-small-size-30 md-form-label"
            >
              <p>Bitte prüfe das Zulassungsdatum</p>
            </label>
            <div class="md-layout-item md-size-40 mobile-margin-top-21">
              <md-field>
                <label></label>
                <md-input v-model="registration_date" type="text"></md-input>
              </md-field>
            </div>
          </div>
          <div style="margin-left: 8%">
            <p style="text-align:left;">
              <md-checkbox v-model="field_name.term_conditions"></md-checkbox
              ><span
                >Ich bestätige, dass das Fahrzeug auf mich oder auf eine andere
                Person in meinem Haushalt zugelassen ist, oder mir als mir als
                Dienstwagen zur ständigen Nutzung zur Verfügung steht.</span
              >
            </p>
          </div>
          <div class="errorFourth" style="display:none; text-align:center">
            <div class="alert alert-danger">
              {{ this.field_name.error }}
            </div>
          </div>
        </div>
      </div>
    </form>
  </ValidationObserver>
</template>
<script>
import {} from "@/components";
import axios from "axios";
import lang from "@/assets/lang/de.json";
import Swal from "sweetalert2";
import { baseUrl } from "@/config";
import Api from "@/services/api";
import { apiConfig } from "@/appConfig";

export default {
  components: {},
  props: {
    avatar: {
      type: String,
      default: "./img/upload.jpg"
    }
  },
  data() {
    return {
      registration_date: null,
      uploading: false,
      progressbar: 0,
      validation: false,
      field_name: {
        error: "",
        success: "",
        heading: lang.de.fourth_step.heading,
        title: lang.de.fourth_step.title,
        term_conditions: false
      },
      fourth_step: {
        step: "fourth_step"
      },
      options: {
        text: {
          color: "#FFFFFF",
          shadowEnable: true,
          shadowColor: "#000000",
          fontSize: 14,
          fontFamily: "Helvetica",
          dynamicPosition: false,
          hideText: false
        },
        progress: {
          color: "#2dbd2d",
          backgroundColor: "#333333"
        },
        layout: {
          height: 35,
          width: 140,
          verticalTextAlign: 61,
          horizontalTextAlign: 43,
          zeroOffset: 0,
          strokeWidth: 30,
          progressPadding: 0,
          type: "line"
        }
      },
      image: ""
    };
  },
  methods: {
    validate() {
      return this.$refs.form.validate().then(res => {
        if (this.validation === false) {
          document.querySelector(".errorFourth").style.display = "block";
          if (this.field_name.error == "") {
            this.field_name.error =
              "Bitte lade ein Foto von deinem Elektro-Fahrzeugschein hoch.";
          }
        } else if (this.field_name.term_conditions === false) {
          document.querySelector(".errorFourth").style.display = "block";
          this.field_name.error =
            "Bitte bestätige, dass es sich bei dir um einen der Fälle handelt.";
        } else if (this.registration_date === "") {
          document.querySelector(".errorFourth").style.display = "block";
          this.field_name.error = "Das Zulassungsdatum muss angegeben werden.";
          this.validation = false;
        } else {
          document.querySelector(".errorFourth").style.display = "none";
          this.field_name.error = "";
          Swal.fire({
            title: "",
            buttonsStyling: false,
            confirmButtonClass: "md-button md-success",
            html: `Danke für die Registrierung deines Elektrofahrzeugs. Wir freuen uns, dass du bei uns an Bord bist`
          }).then(() => {
            location.reload();
          });
          return res;
        }
      });
    },
    handlePreview(file) {
      this.model.imageUrl = URL.createObjectURL(file.raw);
    },
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.createImage(files[0]);
    },
    createImage(file) {
      var reader = new FileReader();
      var vm = this;

      reader.onload = e => {
        vm.image = e.target.result;
      };
      reader.readAsDataURL(file);

      this.uploadFileToServer(file);
    },
    async uploadFileToServer(file) {
      let formData = new FormData();
      let response = "";
      formData.append("photo", file);

      let config = {
        method: "post",
        url: "http://sac-develop.de/ocr/public/index.php/api/upload",
        data: formData
      };
      this.uploading = true;

      document.querySelector(".errorFourth").style.display = "none";
      this.field_name.error = "";

      try {
        response = await axios(config, {
          onUploadProgress: e =>
            (this.progressbar = Math.round((e.loaded * 100) / e.total))
        });
        if (response.data.validation) {
          this.registration_date = response.data.registration_date;
          this.validation = true;
          this.field_name.error = "";
          this.field_name.success = response.data.message;
          document.querySelector(".success").style.display = "block";
          document.querySelector(".errorFourth").style.display = "none";
        } else {
          this.field_name.error = response.data.message;
          this.field_name.success = "";
          document.querySelector(".errorFourth").style.display = "block";
          document.querySelector(".success").style.display = "none";
        }

        this.uploading = false;
      } catch (err) {
        document.querySelector(".errorFourth").style.display = "block";
        this.field_name.error = "Da hat etwas nicht funktioniert.";
        this.uploading = false;
      }
    }
  }
};
</script>
<style></style>
